/*##Colors*/

/*###Primary*/
$cyan:hsl(179, 62%, 43%);
$bright-yellow:hsl(71, 73%, 54%);

/*###Neutral*/
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);
$main-white:hsl(0,0,100%);
$light-cyan:hsl(179, 61%, 46%);
$light-bright-yellow:hsl(71, 73%, 60%);
$dark-bright-yellow:hsl(71, 73%, 44%);
/*## Typography*/

/*### Body*/
$font-size: 16px;

/*### Font*/

$font: 'Karla' , sans-serif;



